      #left-side h1 {
        font-weight: 10px;
        font-size: 300%;
        text-align: center;
        margin-bottom: 10px;
        color: #07b7ae;
        text-shadow: 1px 1px ;
        text-shadow: 1px 1px #053c84;
      }
      #left-side img {
        width:125%;
        height:125%;
      }
      #spacer {
        margin-top: 70px;
      }
      #box {
          color: black;
          text-align: center;
          border: double; 4px black;
          padding: 30px 0px;
          border-radius: 20px;
          background-image: url(repeating.png);
      }
      #dialog {
          font-family: arial, sans-serif;
          font-size: 20px;
          color: #0ed189;
          text-shadow: 1px 1px #053c84;
          padding: 10px;
          text-align: center
      }
      h4 {
        font-size: 150%;
      }
      #guesses {
          margin: 20px 0px;
          position: relative;
          left: -30px;
      }
      ul {
          list-style: none;
      }
      ul li {
        padding: 10px;
        display: inline;
        border: 2px solid grey;
        border-radius: 5px;
      }
      #reset, #hint {
        display: inline-flex;
      }
      #hint-dialog {
        padding: 0px 0px 30px 0px;
        margin-bottom: 40px;
      }
      #footer img {
          display: inline;
          width: 200px;
          height: 50px;
      }
      #footer {
          width: 100%;
          border-top: solid 2px black;
          background-color: white;
          position: fixed;
          bottom: 0;
      }

